<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
              Nombre de la mesa es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad de puestos" formControlName="puestos">
            <mat-error *ngIf="addressForm.controls['puestos'].hasError('required')">
              El numero de puestos es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{titulo}}</button>
    </mat-card-actions>
  </mat-card>
</form>
