<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre del plato " formControlName="nombre">
            <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion del plato" formControlName="descripcion">
            <mat-error *ngIf="addressForm.controls['descripcion'].hasError('required')">
              La descripcion es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Valor $" formControlName="precio"></textarea>
            <mat-error *ngIf="addressForm.controls['precio'].hasError('required')">
              El precio es<strong> requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>



      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Estado" formControlName="estado"></textarea>
            <mat-error *ngIf="addressForm.controls['estado'].hasError('required')">
              El estado del plato es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Cargar imagen" formControlName="imagen"></textarea>
            <mat-error *ngIf="addressForm.controls['imagen'].hasError('required')">
              La imagen es <strong>requerida</strong> 
            </mat-error>
          </mat-form-field>
        </div>
      </div>

        </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{titulo}}</button>
    </mat-card-actions>
    
</form>
